{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <h1>History</h1>
    <h6>Keep track on your purchases and sellings</h6><br><br>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Stock Name</th>
                <th scope="col">Company Name</th>
                <th scope="col">Shares</th>
                <th scope="col">Price</th>
                <th scope="col">Transacted (UTC±0)</th>
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
            {% if row["shares"] < 0 %}
                <tr class="table-danger">
                    <td>{{ row["symbol"] }}</td>
                    <td>{{ row["name"] }}</td>
                    <td>{{ row["shares"] }}</td>
                    <td>{{ row["dollar_price"] }}</td>
                    <td>{{ row["time"] }}</td>
                </tr>
            {% else %}
                <tr class="table-success">
                    <td>{{ row["symbol"] }}</td>
                    <td>{{ row["name"] }}</td>
                    <td>{{ row["shares"] }}</td>
                    <td>{{ row["dollar_price"] }}</td>
                    <td>{{ row["time"] }}</td>
                </tr>
            {% endif%}
            {% endfor %}
        </tbody>
    </table>
    {% endblock %}
